/.vs
/Library
/Logs
/obj
/Packages
/Temp
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Assembly-CSharp-Editor.csproj
/Sirenix.OdinInspector.CompatibilityLayer.csproj
/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Sirenix.OdinInspector.CompatibilityLayer.Player.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/Unity-SkillSystem.sln
/.idea
